/* Full Background Images */

.bg-full-image {
    float: left;
    width: 50%;
    height: 50%;
    margin: 5px;
}

.bg-full-image img {
    display: block;
    width: 100%;
    padding: 0 auto;
}

.main-body {
    float: left;
}