/* Full Background Images */

.bg-full-image {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color:#434343;
    margin-bottom: 40px;
}

.bg-full-image img {
    display: block;
    width: 100%;
    padding: 0 auto;
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}

.main-body {
    float: right;
}