/* Full Background Images */

.bg-full-image {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 50%;
    margin: 5px;
}

.bg-full-image img {
    display: block;
    width: 100%;
    padding: 0 auto;
}

.main-body {
    position: fixed;
    left: 50%;
}